### Bài 1

In [142]:
import re
import pandas as pd

# read data from file
with open('data.txt', 'r') as f:
    data = f.read()
data+='\n\n'
print(data)

School = Riverdale High
Grade = 1
Student number, Name
0, Phoebe
1, Rachel

Student number, Score
0, 3
1, 7

Grade = 2
Student number, Name
0, Angela
1, Tristan
2, Aurora

Student number, Score
0, 6
1, 3
2, 9

School = Hogwarts
Grade = 1
Student number, Name
0, Ginny
1, Luna

Student number, Score
0, 8
1, 7

Grade = 2
Student number, Name
0, Harry
1, Hermione

Student number, Score
0, 5
1, 10

Grade = 3
Student number, Name
0, Fred
1, George

Student number, Score
0, 0
1, 0

In [143]:
type(data)

str

In [144]:
data = re.split('School =', data)
data

['',
 ' Riverdale High\nGrade = 1\nStudent number, Name\n0, Phoebe\n1, Rachel\n\nStudent number, Score\n0, 3\n1, 7\n\nGrade = 2\nStudent number, Name\n0, Angela\n1, Tristan\n2, Aurora\n\nStudent number, Score\n0, 6\n1, 3\n2, 9\n\n',
 ' Hogwarts\nGrade = 1\nStudent number, Name\n0, Ginny\n1, Luna\n\nStudent number, Score\n0, 8\n1, 7\n\nGrade = 2\nStudent number, Name\n0, Harry\n1, Hermione\n\nStudent number, Score\n0, 5\n1, 10\n\nGrade = 3\nStudent number, Name\n0, Fred\n1, George\n\nStudent number, Score\n0, 0\n1, 0\n\n']

In [145]:
print(data[2])

 Hogwarts
Grade = 1
Student number, Name
0, Ginny
1, Luna

Student number, Score
0, 8
1, 7

Grade = 2
Student number, Name
0, Harry
1, Hermione

Student number, Score
0, 5
1, 10

Grade = 3
Student number, Name
0, Fred
1, George

Student number, Score
0, 0
1, 0

In [146]:
meta = pd.DataFrame(columns=["School" ,"Grade" ,"Student number", "Name" ,"Score"])
meta

Empty DataFrame
Columns: [School, Grade, Student number, Name, Score]
Index: []

In [147]:
id = 0
for text in data:
    if text == ' ' or text =='': continue
    # print(text)
    class_study = re.split('Grade = ', text)
    name_school = class_study[0].replace('\n', '')
    
    for text_class in class_study[1:]:
        # Get class
        name = {}
        score = {}
        cl = re.findall(r'([0-9]+)\n', text_class)[0]
        # print(text_class)

        # get name 

        pair_name = re.findall(r'\d+,\s+[a-zA-Z]+', text_class)
    #     print(pair_name)
    #     break
    # break
        for match in pair_name:
            match = match.split(', ')
            name[int(match[0])] = match[1]
        # print(name)
        # # get scores
        
        pair_score = re.findall(r'\d+,\s+[0-9]+', text_class)

        # # In kết quả
        for match in pair_score:
            # print(match.split(', '))
            m = match.split(', ')
            score[int(m[0])] = int(m[1])
        # print(score)
        for id_student in name.keys():
            meta.loc[id] = [name_school, cl, id_student, name[id_student],  score[id_student]]
            id+=1

In [148]:
meta.groupby(["School",	"Grade"	,"Student number"	,"Name", 'Score']).size()

School           Grade  Student number  Name      Score
 Hogwarts        1      0               Ginny     8        1
                        1               Luna      7        1
                 2      0               Harry     5        1
                        1               Hermione  10       1
                 3      0               Fred      0        1
                        1               George    0        1
 Riverdale High  1      0               Phoebe    3        1
                        1               Rachel    7        1
                 2      0               Angela    6        1
                        1               Tristan   3        1
                        2               Aurora    9        1
dtype: int64